Firefox >= 63
# Geeksphone Keon
# FirefoxAndroid >= 31
# Alcatel OneTouch Fire
FirefoxAndroid >= 28
Chrome >= 68
Safari >= 11.1
Edge >= 17
IE >= 11
# Nokia Lumia
ExplorerMobile >= 11
Android >= 67
iOS >= 11.4
Samsung >= 4
